*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../fotos2/fondo\ pagina\ web\ 3.avif);
    font-family: Arial, Helvetica;
    background-color: #e8e8e8;
    }